<div
  id="options-container"
  style="padding: 2em 0;"
>
  <div class="select">
    <select
      *ngIf="chartType === 'Bar Vertical' || chartType === 'Pie Chart'"
      (click)="$event.stopPropagation()"
      (change)="handleChartTypeChange($event.target.value)"
      [(value)]="chartType"
    >
      <option *ngFor="let type of singleChartTypes">{{type}}</option>
    </select>

    <select
      *ngIf="chartType === 'Line Chart' || chartType === 'Area Chart'"
      (click)="$event.stopPropagation()"
      (change)="handleChartTypeChange($event.target.value)"
      [(value)]="chartType"
    >
      <option *ngFor="let type of multiChartTypes">{{type}}</option>
    </select>
  </div>
</div>

<ng-container [ngSwitch]="chartType">
  <ngx-charts-bar-vertical
    *ngSwitchCase="'Bar Vertical'"
    [view]="view"
    [scheme]="'cool'"
    [results]="chartData"
    [legend]="showLegend"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
  >
  </ngx-charts-bar-vertical>

  <ngx-charts-pie-chart
    *ngSwitchCase="'Pie Chart'"
    [view]="view"
    [scheme]="'cool'"
    [results]="chartData"
    [legend]="showLegend"
  >
  </ngx-charts-pie-chart>

  <ngx-charts-line-chart
    *ngSwitchCase="'Line Chart'"
    [view]="view"
    [scheme]="'cool'"
    [results]="chartData"
    [legend]="showLegend"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
  >
  </ngx-charts-line-chart>

  <ngx-charts-area-chart
    *ngSwitchCase="'Area Chart'"
    [view]="view"
    [scheme]="'cool'"
    [results]="chartData"
    [legend]="showLegend"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
  >
  </ngx-charts-area-chart>
</ng-container>