<div style="padding: 5em;">
  <app-table #Table (rowExpanded)="handleRowExpanded($event)">
    <app-text *appTemplateMarker="'app-text'"></app-text>

    <app-push-button *appTemplateMarker="'app-push-button'"></app-push-button>

    <app-uber-chart *appTemplateMarker="'app-uber-chart'"></app-uber-chart>
  </app-table>
</div>

<!-- <div style="padding: 5em;">
  <div>
    <button
      (click)="Modal.isOpen = true"
      class="btn btn-primary"
    >Trigger Modal</button>
  </div>
  <div style="min-height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center;">

    <div style="padding: 2em 0">
      <div style="display: flex; justify-content: center; align-items: center;">
        <app-uber-chart
          [chartType]="'Bar Vertical'"
          [chartData]="singleData"
          [showLegend]="false"
        >
        </app-uber-chart>
      </div>

      <div style="display: flex; justify-content: center; align-items: center;">
        <app-uber-chart
          [chartType]="'Line Chart'"
          [chartData]="multiData"
          [showLegend]="false"
        >
        </app-uber-chart>
      </div>

    </div>
  </div>
  <app-modal #Modal>
    <chart-data-json-customizer></chart-data-json-customizer>
  </app-modal>
</div> -->